<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org/ ">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${instruments} and ${instruments.size()}">You haven't added any research instruments yet!</p>

<form method="post">

    <div th:each="instrument : ${instruments}" class="checkbox">
        <input type="checkbox" name="instruments" th:value="${instrument.instrumentName}" th:id="${instrument.id}"/>
        <label th:for="${instrument.id}" th:text="${instrument.instrumentName}"></label>
        <br/>
    </div>

    <input type="submit" value="Remove Instrument"/>
</form>


</body>
</html>