<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

<form th:if="${cheeses} and ${cheeses.size()}" method="post">
    <ul>
        <li th:each ="cheese : ${cheeses}">
            <span th:text="${cheese.cheeseName +', ' +  cheese.cheeseSize}"></span>
            <input
                    name="cheeseIds"
                    type="checkbox"
                    th:value="${cheese.id}"
            />
        </li>
    </ul>
    <input type="submit" value="Remove Cheese" />
</form>
</body>
</html>