<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
</head>

<body class="container">


<h1 th:text="${title}">Research Responses</h1>
<nav th:replace="fragments :: navigation"></nav>

<table class="table">

    <tr>
        <th>Research Project</th>
        <th>Instrument Name</th>
        <th>Instrument Item Number</th>
    </tr>

    <tr th:each="response : ${responses}">
        <td th:text="${project.name}"></td>
        <td th:text="${project.description}"></td>
        <td th:text="${instrument.name}"></td>

    </tr>

</table>




<p><a th:href="'/response/add-item/' + ${id}">Add Instrument Responses</a></p>
</body>
</html>