<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF=8"/>
    <title th:text="${title}">My Research</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>




<body>

<nav th:fragment="navigation">
    <a href="/user">Home</a> |
    <a href="/project">Research Projects</a> |
    <a href="/instrument">Research Instruments</a> |
    <a href="/response">Research Responses</a>
</nav>

<nav th:fragment="researchNavigation">
    <a href="/instrument/add">Add</a> |
    <a href="/instrument/remove">Remove</a>
</nav>

</body>
</html>