<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div class="container body-content">

    <form th:object="${menu}" method="post" style="max-width:600px;">
        <div class="form-group"th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}" >
            <label th:for="cheeseName">Name</label>
            <input type="text" class="form-control" th:field="*{cheeseName}"/>
            <span th:errors="*{cheeseName}"></span>
        </div>

        <input type="submit" value="Add Menu" />
    </form>

</div>

</body>
</html>