<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/ ">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<br/>

<div class="container body-content">

    <form th:object="${form}" method="post" action="/project/add-item" style="max-width:600px;">
        <div class="form-group">
            <label th:for="userId">User</label>
            <select name="userId">
                <option th:each="user : *{users}"
                        th:value="${user.id}"
                        th:text="${user.name}"></option>
            </select>

            <input type="hidden" name="projectId" th:value="*{project.id}"/>


        </div>

        <input type="submit" value="Add"/>


    </form>

</div>

</body>
</html>