<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/
http://www.thymeleaf.org/ ">
<head th:replace="fragments :: head"></head>

<body class="container">

<!--h1 th:text="${title}">Default Title</h1-->

<nav th:replace="fragments :: navigation"></nav>

<div class="container body-content">

    <form method="post" style="max-width:600px;" th:object="${project}">

        <div class="form-group" th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}">
            <label th:for="name">Project Name</label>
            <input type="text" class="form-control" th:field="*{name}"/>
            <span th:errors="*{name}"></span>
        </div>
        <input type="submit" value="Add Project"/>

    </form>

</div>

</body>
</html>