<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/ ">
<head th:replace="fragments :: head">
</head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<p th:unless="${users} and ${users.size()}">No user account established yet, please register a research account</p>

<ul>
    <li th:each="user : ${users}">
        <p th:href="@{'/user/view/' + ${user.userId} + ${user.email}}" th:text="${user.name}"></p>
    </li>
</ul>

<a th:href="@{'/user/add'}">Add User Account</a>


</body>
</html>